* {
	margin: 0;
	padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/* NAVBAR TOP */
.navbar-top{
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	position: fixed;
	display: flex; 
	background: radial-gradient(circle at top left, #1E2335, #696E88);
    justify-content: space-around;
    padding: 15px 0px;
    color: #9BA1B6;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.3);
    z-index: 1;
}

/* logo */
.navbar-top .navbar-logo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    letter-spacing: 3px;
}

/* menu bar */
.navbar-top .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

/* checkbox */
.navbar-top .menu-toggle input {
    position: absolute;
    width: 25px;
    height: 28px;
    opacity: 0;
    top: -4px;
    cursor: pointer;
    z-index: 2;
}

/* strip */
.navbar-top .menu-toggle span {
    display: block;
    background-color: #9BA1B6;
    width: 25px;
    height: 4px;
    border-radius: 3px;
    transition: all 0.5s;
}

/* transform checkbox animation */
.navbar-top .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.navbar-top .menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.navbar-top .menu-toggle input:checked ~ span:nth-child(2) {
	background-color: #DCDDE0;
    transform: rotate(21deg) translate(2px, -1px);

}

.navbar-top .menu-toggle input:checked ~ span:nth-child(4) {
	background-color: #DCDDE0;
    transform: rotate(-21deg) translate(2px, 1px);
}

.navbar-top .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0) translate(25px, 0);
}

/* NAVBAR SLIDE */
/* list setting */
nav ul {
	display: flex;
	list-style: none;
	width: 38%;
	justify-content: space-between;
}

nav ul li a {
	color: #9BA1B6;
	text-decoration: none;
}

nav ul li a:hover {
    color: #DCDDE0;
    text-shadow: 2px 2px #000000;
    transition: all 0.2s ease-in-out;
    font-size: 1.01em;
}

/* PROFIL */

.about {
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: space-between;
    padding-top: 1rem;
}

.about .image img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-left: 2rem;
}

/* PROJECT */

.project .content {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}

.project .content .box {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0;
}

.project .content img {
    margin: 0 0.8rem;
    width: 340px;
    height: 180px;
    display: block; 
    height: auto;
    border: 10px solid #0C0F18;
}

.project .content img:hover {
    padding: 0;
    box-shadow: 2px 2px 4px #000000;
    transition: all 0.2s ease-in-out;
    border-top: 10px solid #1E2335;
    border-left: 10px solid #1E2335;
    border-right: 10px solid #696E88;
    border-bottom: 10px solid #696E88;
}

/* menu toggle */
.project .content .box i {
    position: absolute;
    height: 14px;
}

.project .content .box input {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

/* memunculkan creator box */
.project .content .box input:checked ~ ul:nth-child(4) {
    opacity: 1;
    z-index: 0;
    height: 24vh;
}

/* creator box */
.project .content ul {
    background-color: #13182C;
    margin: 1rem;
    padding: 1.5rem;
    position: absolute;
    height: 21vh;
    border-radius: 5px;
    border: 5px solid #1E2335;
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.project .content ul .creator {
    padding-bottom: 0.5rem;
}

.project .content ul .button {
    padding: 1rem 0;
    background-color: #696E88;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.project .content ul li {
    color: #ffffff;
}

.project .content ul li a {
    color: #ffffff;
}

/* warna gelar */
.project .content ul li .gold {
    color: #FFD700;
}

.project .content ul li .silver {
    color: #C0C0C0;
}

/* FEEDBACK */
/* feedback desc */
.feedback .content {
    text-align: center;
}

.feedback .content p {
    padding-bottom: 1rem;
}

.feedback .content form {
    display: flex;
    flex-direction: column;
}

.feedback .content form textarea {
    position: relative;
    border-radius: 2%;
    padding: 10px;
}

.feedback .content form textarea:hover {
    box-shadow: 2px 4px 5px #000000;
    transition: all 0.2s ease-in-out;
}

.feedback .content form button {
    background-color: #1E2335;
    color: #ffffff;
    border: none;
    border-radius: 25%;
    width: 6rem;
    height: 3rem;
    margin: 1rem;
}


.feedback .content form button:hover {
    box-shadow: 2px 4px 5px #000000;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(135deg, #1E2335, #4F556C);
}

.feedback .content form button:active {

}

/* CONTACT */

.contact {
    min-height: 12vh;
    background: #0C0F18;
    color: #ffffff;
}

.contact .content {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3rem;
}

.contact .content .content-box ul li {
    padding: 0.2rem;
}

.contact .content .content-box ul li a {
    color: #ffffff;
}

.contact .content .content-box ul li a:hover {
    color: #DCDDE0;
    text-shadow: 2px 2px #000000;
    transition: all 0.2s ease-in-out;
    font-size: 1.01em;
}

/* UMUM */
section {
    min-height: 65vh;
    padding: 3% 13%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    padding-top: 5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    padding: 1rem 0;
}

h6 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

/* RESPONSIVE */
/* tablet */
@media screen and (max-width: 760px) {

	/* NAVBAR SLISE */
    nav ul {
    	width: 50%;
    }
    /* IMAGE PROFILE */
    .about {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .about .image img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 2rem 0;
        margin-right: 2rem;
}
    /* IMAGE PROJECT */
    .project .content {
        flex-direction: column;
        
    }
    
    .project .content .box img {
        width: 100%;
    }

    .project .content a img {
        margin: 0.2rem 0;
    }
}
/* mobile */
@media screen and (max-width: 576px) {

	/* NAVBAR SLIDE */
	.navbar-top .menu-toggle {
		display: flex;
	}

    nav ul {
    	position: fixed;
    	flex-direction: column;
    	background-color: #484B59;
    	right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        transform: translate(100%, 0);
        transition: all 0.5s;
        opacity: 0;
    }

    nav ul.appear {
    	opacity: 0.9;
    	transform: translate(0,0);
    }

}