* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {

}

h1 {
	color: #000000;
	text-align: center;
	padding: 2rem 0;
}

#card {
	background: -webkit-linear-gradient(top, #1E2335, #343a40);
	height: 80%;
	border-radius: 1rem;
	margin: 0 5rem 5rem;
}

.col {
	display: flex;
	flex-direction: row;
}

p {
	font-size: 15px;
	color: #ffffff;
}

input {
	margin: 0 1rem 1rem 0;
	height: 20%;
	width: 30%;
	padding: 0.5rem;
	border-radius: 5px;
}

.button {
    margin: 0 1rem 1rem 0;
    height: 3rem;
	width: 3rem;
	border-radius: 5px;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
}

span {
    padding: 0.8rem;
}

select {
	width: 13rem;
	height: 2.5rem;
}

form {
	padding: 2rem;
}

#button:hover {
	box-shadow: 2px 4px 5px #000000;
	transition: all 0.2s ease-in-out;
}

/* Responsive */
@media screen and (max-width: 760px) {
    #card {
    	margin: 0 2rem 2rem;
    }
}

@media screen and (max-width: 576px) {
    #card {
    	border-radius: 0%;
    	margin: 5rem 0;
    }
}